<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/navbar.css">
</head>
<body>
    <div class="navbar">
        <div class="navbaritem">
         <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="HELLO">
        <h3 class="navh3">Pintrest</h3>
        </div>
    <div class="navbaritems">
       <a href="/profile">PROFILE</a>
       <a href="/feed">FEED</a>
       <a href="/logout" class="logout">LOGOUT</a>
      
    </div>
    </div>

</body>
</html>


    